
@{
    ViewBag.Title = "Admin Add Menu";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}
@model DEMONEW.Models.Menus
<div class="content-data">
    <h3>Thêm menu</h3>
    <div class="add">
        @using (Ajax.BeginForm("AddMenu", new AjaxOptions { UpdateTargetId = "result", HttpMethod = "Post" }))
        {
            <table class="add">
                <tr>
                    <td>ID_MN</td>
                    <td><b>@Html.TextBox("ID_MN", (Object)ViewBag.idmnew)</b></td>
                </tr>
                <tr>
                    <td>Lable</td>
                    <td><b>@Html.TextBox("Lable")</b></td>
                </tr>
                <tr>
                    <td>Pos</td>
                    <td><b>@Html.TextBox("Pos")</b></td>
                </tr>
                <tr>
                    <td>UrlLink</td>
                    <td><b>@Html.TextBox("UrlLink")</b></td>
                </tr>
                <tr>
                    <td>Menu cha</td>
                    <td>@Html.DropDownList("ID_Parent", new SelectList(ViewBag.parents, "ID_MN", "Lable", ViewBag.parent), "Chọn menu")</td>
                </tr>
                <tr>
                    <td class="trove">@Html.ActionLink("Trở về", "MenuList", new { @class = "link" })</td>
                    <td>
                        <button type="submit">OK</button>
                    </td>
                </tr>
            </table>
            <div style="margin-left:20px"><b class="note"><span id="result"></span></b></div>
        }
    </div>
 </div>

